@import 'tailwindcss';

@plugin "tailwindcss-animate";
/* @import "tw-animate-css"; */
@custom-variant dark (&:is(.dark *));

@theme {
  --color-grey-500: #626c7f;
  --color-grey-50: #f4f6fa;
  --color-blue-950: #2d3949;
  --color-blue-900: #313e51;
  --color-blue-850: #3b4d66;
  --color-blue-500: #306aff;
  --color-blue-300: #abc1e1;
  --color-blue-100: #edf1f9;
  --color-blue-50: #ebf0ff;
  --color-green-500: #2fd887;
  --color-green-100: #e0fdef;
  --color-purple-600: #a729f5;
  --color-purple-100: #f6e7ff;
  --color-orange-400: #ff7e35;
  --color-orange-50: #fff5ed;
  --color-red-500: #ee5454;
}
